body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.name-first-side {
    color: white
}

.name-last-side {
    color: #FF0C60;
}

h5 {
    color: #D2B4DE;
}

h4 {
    color: white;
}



.bio {
    color: white;
}

section {
    display: flex;
    margin-bottom: 100px;
    color: white;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 6%;
}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-color: #f9004d;
    color: white;
    border-radius: 6px;
    font-weight: 700;
}

.hero {
    height: 70px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

.logo-colour {
    color: #f9004d;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}


.Dream-Big {
    color: white;
    size: 25px;
}

.nd-line {
    color: white;
}

.rd-line {
    color: white;

}

.my-bio {
    size: 10px;
    color: white;
}

.experience-area {
    color: white;


}

.flexible-container {

    display: flex;
}

.work {
    color: white;
    margin-left: 5%;
}

.experience-item {
    width: 40%;
    padding-left: 4%;
    padding-top: 6%;
    box-shadow: 10px 10px 80px white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border-left: 7px solid #f9004d;
    text-align: left;

}

#full-stack-dev {
    border-left: 7px solid white;
    box-shadow: 10px 10px 80px #f9004d;
}